@using ProjectFood.Models
@model IEnumerable<ProjectFood.Models.ShoppingList>

@{
    ViewBag.Title = "Indkøbslister";
}
<div class="page-header nopadding-xs">
    <div class="container-fluid nopadding">
        <div class="col-md-9 col-xs-12 nopadding">
            <h1><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;Overskrift</h1>
            <p class="hidden-xs lead text-muted nopadding">
                Kort og beskrivende tekst, som brugeren kan falde tilbage på, hvis det bliver nødvendligt med hjælp.
                Også generel beskrivelse af, hvad det er muligt at gøre i pågældende view.
            </p>
        </div>
        <div class="col-md-3 col-xs-12 nopadding">
            <div class="well lead">
                Relevante knapper og/eller funktioner for view'et.
            </div>
        </div>
    </div>
</div>
<div class="container-fluid nopadding">
    <div class="well well-lg lead">
        Hovedindhold på siden, f.eks. liste over indkøbsliste eller opskrifter.<br />
        Det er her brugeren skal bruge mest tid.
    </div>
</div>



@section Scripts {                              @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
@Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}
