@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <p class="h1">
            </br>
            Du er næsten klar! </br>
            Vi mangler bare dit navn.
        </p>
        <div class="panel panel-default panel">
            <div class="panel-heading"><h4>Dit navn</h4></div>
            <div class="panel-body">
                @using (Html.BeginForm("AddAName", "User", new { username = User.Identity.Name }, FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()

                    <div class="input-group input-groupf">
                        @Html.TextBox("name", "", new { @placeholder = "Vist navn", @class = "form-control" })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-group-justified">Gem</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

