@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProjectFood</h1>
    <p class="lead">ProjectFood er et 3. semester projekt udført af en gruppe software-studerende på Aalborg Universitet</p>
    <p>Status med projektet:</p>
    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 12%"></div>
    </div>
    <p><a href="http://www.cs.aau.dk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Opskrifter</h2>
        <p>
            Vi går efter anbefaling af opskrifter ud fra brugerens personlige vurderinger og præferencer.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>