@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProjectFood</h1>
    <p class="lead">ProjectFood er et 3. semester projekt udført af en gruppe software-studerende på Aalborg Universitet</p>
    <p>Status med projektet:</p>
    <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 26%"></div>
    </div>
    <p><a href="http://www.cs.aau.dk" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("WatchList", "ShoppingLists")">WatchList</a>
    </div>

</div>