
<div id="createModal" class="modal fade">
    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Opret ny indkøbsliste</h4>
            </div>
            <div class="modal-body">
                @using(Html.BeginForm("Create", "ShoppingLists", FormMethod.Post, new { @class = "bs-component" })) {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="from" value="@Request.Url.PathAndQuery"/>
                    <div class="input-group">
                        @Html.TextBox("Title", "", new { @id="title", @placeholder = "navn på indkøbsliste", @class = "form-control" })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Opret!</button>
                        </span>
                    </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->