@model IEnumerable<ProjectFood.Models.Recipe>

@{
    ViewBag.Title = "Opskrifter";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style type="text/css">
    #para1 {
        padding: 50px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        background: #375A7F;
    }
</style>
<div class="container-food">

    <div class="row-food">
        @foreach (var item in Model)
        {
            <div class="col-md-5">
                <p id="para1">
                    @Html.ActionLink(item.Titel, "Recipe", new { id = item.ID })
                    <br />Tid: @Html.DisplayFor(modelItem => item.Minutes) Minutter
                </p>
            </div>
        }
    </div>
</div>
