@using System.Activities.Expressions
@using System.Web.UI.WebControls
@using ProjectFood.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Indkøbsliste";
    @model ProjectFood.Models.ShoppingList
}
<script type="text/javascript" src="scripts/jquery-1.4.1.js"></script>
<script type="text/javascript">
    
    var addButton = document.getElementById('addButton');
    addButton.addEventListener('click',testing);

    function testing() {
        window.alert("DET VIRKER");
    }

</script>

<h2>Din Indkøbsliste</h2>

<p></p>

@using (Html.BeginForm("Add", "ShoppingList"))
{
    @Html.TextBox("name")
    <input type="submit" value="Tilføj Vare" />
}



    <div class="form-group">
        <table class="table table-striped">
            <tr>
                <th>Varenavn</th>
                <th>Kategori</th>
                <th>Tilbud</th>
                <th>Butik</th>
                <th>Pris</th>
                <th> </th>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                </tr>
                <tr></tr>

            }
        </table>
    </div>
</form>
