@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "OfferIMPORT";
}

<div class="page-header"></div>

<p>
    @Html.ActionLink("PANIC AT THE DISCO", "ImportOffers", null , new { @class = "btn btn-danger btn-block" })
</p>

