@model ProjectFood.Models.User

@{
    ViewBag.Title = "Rediger butikker";
}

<div class="page-header">
    <h1>Rediger butikker</h1>
    <p class="lead">Her kan du ændre på hvilke butikker, du ønsker at se tilbud fra.</p>
</div>
<hr />

<div class="row">
    @foreach (var store in (List<string>)ViewBag.Store)
    {
        string storename = store.Replace(" ", string.Empty);
        string onSuccess = "ToggleBoolByID('" + storename + "')";

        <div class="form-group">
            @using (Ajax.BeginForm(
                    "EditStore",
                    new { storename = store },
                    new AjaxOptions { HttpMethod = "POST", OnSuccess = onSuccess }))
            {
                
                if (Model.Preferences.Any(x => x.Store == true && x.Value == store))
                {
                    <div class="lead" onclick="$(this).parent().submit()">
                        <div class="col-md-2">
                            <label>@store</label>
</div><div class="col-md-1">
                            <input type="hidden" name="StoreCheck" id="storeCheck_@storename" value="false" />
                            <span id="check_@storename" class="glyphicon glyphicon-unchecked"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="lead" onclick="$(this).parent().submit()">
                        <div class="col-md-2">
                            <label>@store</label>
                        </div><div class="col-md-1">
                            <input type="hidden" name="StoreCheck" id="storeCheck_@storename" value="true" />
                            <span id="check_@storename" class="glyphicon glyphicon-check"></span>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

@section Scripts {                      @*  Don't question the JavaScript-Gods!!!                             *@
@Scripts.Render("~/bundles/homemade")   @*  Magic part that makes the buttons change if POST was succesfull   *@
@Scripts.Render("~/bundles/jqueryval")  @*  Magic part that makes the AJAX POST possible                      *@
}